

<!-- *********************** -->
<!-- Search Bar -->
<!-- *********************** -->
<span class="pull-right">
  <%= form_tag(shop_path, method: :get, roll: "search", class: "form-inline") do %>
    <div class="form-group">
    <%# TODO: hide the search label %>
    <%# label_tag :search, class: "sr-only" %>
      <%= text_field_tag(:search, nil, placeholder: "Search Products", class: "form-control input-sm") %>
    </div>
    <%= submit_tag("Search", class: "btn btn-default btn-sm") %>
    <% end %>
</span>



<h1>Welcome to Store-Tastic!</h1>
<p> We sell everything your heart desires. If you have the money we have the product!</p>

<% if params[:cat_id] %>
  <h3>All <%= @category.name.capitalize %></h3> 
  <% else %>
  <h3>All Products</h3>
  <% end %>

<div class= "container-fluid">
  <div class = "row">

    <% @products.each do |product| %>
      <div class = "col-sm-4">
        <div class = "panel panel-default">
          <div class = "panel-body">
            <%= image_tag product.avatar.url(:medium) %>
            <h5><%= number_to_currency(product.price) %><h5>
            <a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
              <h5><%= product.name %></h5>
              <span class = 'glyphicon glyphicon-plus'></span><small> quick info </small>
            </a>  

            <%= button_to "Add to Cart", line_items_path(product_id: product), class: "btn btn-success btn-sm"%>

          </div>
        </div>
      </div>



      <!-- Modal -->
      <div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
            </div>
            <div class="modal-body">
              <%= image_tag product.avatar.url(:medium) %>
              <%= number_to_currency(product.price) %>
              <%= product.description %>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= will_paginate @products %>
