<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td> <%= category.name %></td>
        <td><%= link_to fa_icon("eye", text:'Show'), admin_category_path(category) %></button></td>
        <td><%= link_to fa_icon("pencil", text:'Edit'), edit_admin_category_path(category) %></button></td>
        <td><%= link_to fa_icon("trash", text:'Destroy'), admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_admin_category_path, class: "btn btn-sm btn-success" %>
